.all-suggestions-heading{
    background-color: #0056a3
}

.suggestions-search-section{
    position: sticky;
    top: 6.4rem;
    position: -webkit-sticky;
    z-index: 9;
    background: white;
}

.suggestions-search-section .input-group-text {
    color: #0056a3;
    background-color: #f8b21a;
    border: 1px solid #f8b21a
}