.points-card-header{
    background-color: #0056a3
}

.points-card-text{
    font-size: 50px;
    text-align: center
}

.points-card-body{
    background-color: #f8b21a
}

.events-table-heading{
    background-color: #0056a3
}

.events-table-attributes{
    background-color: #f8b21a
}

.table td{
    padding: 0.5rem
}

.table th{
    padding: 0.5rem
}

.dashboard-below-heading{
    padding-top: 2rem;
}