.top-align {
    padding-top: 3.7rem
}

.coe-logo {
    width: 12%
}

.form-container {
    margin: 2rem
}

.btn-style {
    background-color: #0056a3;
    font-weight: bold;
    font-size: 0.8rem
}

.delete-btn-style {
    background-color: #f8b21a;
    font-weight: bold;
    font-size: 0.8rem;
    border: #f8b21a;
    color: black
}

.delete-btn-style:hover {
    background-color: #f8c41a;
    color: black
}

.input-wrapper {
    position: relative;
}

.form-label {
    position: absolute;
    top: -0.8rem;
    left: 0rem;
    font-size: .7rem;
    font-weight: bold;
    color: #0056a3
}

.form-input {
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
    border-radius: 0 !important
}

.input-valid {
    border-bottom: 2px solid #0056a3 !important;
}

.input-invalid {
    border-bottom: 2px solid #FF0000 !important;
}

.orig-inp-valid {
    border: 2px solid #0056a3 !important;
}

.orig-inp-invalid {
    border: 2px solid #FF0000 !important;
}

.form-input:focus {
    box-shadow: none;
}

/* .form-input:placeholder-shown {
    border-bottom: 2px solid #FF0000 !important;   
} */

.heading{
    background-color: #f8b21a;
    color: #0056a3;z-index: 10;
    position: fixed;width: 100%;
}

.modal {display: block !important;
    background-color: rgba(0, 0, 0,0.9);
}

.modal-title {
    font-weight: 800;
}

.modal-body {
    max-height: calc(100vh - 5rem);
    overflow-y: auto;
}

.modal-header {
    padding: 0.5rem !important
}

.modal-footer {
    padding: 0.5rem !important
}

.view-details-color {
    color: #0056a3; 
}

.delete-color {
    color: #FF0000; 
}

.image-upload > input{
    display: none;
}

.image-upload img{
    width: 25px;
    cursor: pointer
}

.image-upload{
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 5px;
}

.modal-image{
    position: relative;
}

.modal-image .delete-icon{
    position: absolute;
    height: 1rem;
    width: 1rem;
    top: 0.4rem;
    right: 1.3rem;
    opacity: 0.65;
}

.modal-image .delete-icon:hover{
    opacity: 1;
}

.add-icon{
    height: 1rem;
    width: 1rem
}

.delete-icon{
    height: 1rem;
    width: 1rem
}

.card-body-lesspad {
    padding: 0.5rem
}

.card-body-lesspad p{
    padding: 0;
    margin-block-end: 0
}

.card-body-lesspad h5{
    margin-bottom: 0 !important
}

.card-body-lesspad h6{
    padding-top: 0.5rem
}

.text-pre-wrap{
    white-space: pre-wrap
}