.navbar-custom {
    background-color: #0056a3;
    z-index: 999 !important;
}

.navbar-logo {
    width: 2rem
}

.navbar-custom .navbar-nav .nav-link {
    color: #f8b21a;
}

.navbar-custom .navbar-toggler .fa-bars{
    color: #f8b21a;
}

.navbar-custom .dropdown-item {
    color: #0056a3;
}

.navbar-custom .dropdown-menu {
    background-color: #f8b21a;
}

.rightmost-menu {
    left: unset;
    right: -1em;
    border: 1px solid #0056a3;
}