.items-search-section{
    position: sticky;
    top: 6.4rem;
    position: -webkit-sticky;
    z-index: 9;
    background: white;
}

.all-items-heading{
    background-color: #0056a3
}

.items-card-image {
    width: 8rem;
    height: 8rem;
}

.items-search-section .input-group-text {
    color: #0056a3;
    background-color: #f8b21a;
    border: 1px solid #fdf4df
}

.item-selected {
    background-color: black;
    color: white
}

.item-details-image {
    width: 20rem
}